.home {
  width: 100%;
  height: 100vh;
}

.imghome {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../assets/home.png") no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 50vh;
  mix-blend-mode: darken;
}

.imgposi {
  width: 50%;
  height: 100%;
}

.tudo {
  display: flex;
  align-items: center;
  margin-top: 80px;
  align-content: center;
  flex-direction: column;
}

.colun {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paradas {
  display: flex;
  width: 97%;
  flex-direction: row;
  margin-bottom: 60px;
  align-items: center;
  text-align: center;
  margin-left: 3%;
}

.paragrafo {
  font-size: 1.5rem;
  color: #333;
}

.container-home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titulo {
  font-family: "Raleway", sans-serif;
  margin-bottom: 30px;
  color: #333;
  font-size: clamp(2rem, 8vw, 4rem);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.button-neon {
  background-image: linear-gradient(92.88deg, #D5B4BB 9.16%, #dd9ead 43.89%, #CD8495 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  flex-shrink: 0;
  font-size: 1.1rem;
  font-weight: 500;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 1.6rem;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-neon:hover {
  box-shadow: #CD8495 0 1px 30px;
  transition-duration: 0.1s;
}

@media (min-width: 768px) {
  .button-neon {
    padding: 0 2.6rem;
  }
}

@media screen and (max-width: 940px) {
  .tudo {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }


  .paradas {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    margin-left: 0;
}
  .colun {
    width: 100%;
    text-align: center;
  }
  .imgposi {
    width: 100%;
  }
  .paragrafo {
    font-size: 1rem;
    padding: 3px;
  }
  .imghome {
    height: 40vh;
}

}