.home {
  width: 100%;
  height: 100vh;
}

.imghome {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../assets/home.png") no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 50vh;
  mix-blend-mode:darken;
}

.imgposi {
  width: 50%;
  height: 100%;
}

.tudo {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  align-content: center;
  flex-direction: column;
}
.scroll {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  width: 100%;
  background: rgba(21, 19, 19, 0.433);
  height: 100vh;
}

.colun {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paradas {
  display: flex;
  width: 97%;
  flex-direction: row;
  margin-bottom: 50px;
  align-items: center;
  text-align: center;
  margin-left: 3%;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.paragrafo {
  font-size: 1.5rem;
  color: #000000;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo {
  font-family: "Raleway", sans-serif;
  margin-bottom: 30px;
  color: #000000 !important;
  font-size: clamp(3rem, 10vw, 5rem);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.button-neon {
  background-image: linear-gradient(92.88deg, #D5B4BB 9.16%, #dd9ead 43.89%, #CD8495 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  flex-shrink: 0;
  font-size: 1.1rem;
  font-weight: 500;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 1.6rem;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-neon:hover {
  box-shadow: #CD8495 0 1px 30px;
  transition-duration: 0.1s;
}

@media (min-width: 768px) {
  .button-neon {
    padding: 0 2.6rem;
  }

  
}
@media screen and (max-width: 940px) {
  .paragrafo {
    font-size: 1rem;
    color: #000000;
}
.tudo {
 
   margin-bottom: 0; 
   margin-top: 70px;
  
}
}