.home {
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
  position: relative;
  
}

.paradas{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  text-align: center;
  color: #000000;
  margin-top: 7rem;
  font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.paragrafo{
margin-bottom: 3rem;
font-size: 1.5rem;
color: #000000;
}
/* .home:before {
  content: "";
  position: absolute;
   background: url("../../assets/") no-repeat center center/cover;
  width: 100%;
  height: 100%;
} */

.container {
  display: flex;
  align-items:center;
  justify-content: center;
}

.titulo{
  font-family: "Raleway", sans-serif;
    color: #000000 !important;
    font-size : clamp(3rem, 10vw, 5rem);
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

.button-neon {
  background-image: linear-gradient(92.88deg, #D5B4BB 9.16%, #dd9ead 43.89%, #CD8495 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ECE3E6;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 1.1rem;
  font-weight: 500;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 1.6rem;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-neon:hover {
  box-shadow: #CD8495 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-neon {
    padding: 0 2.6rem;
  }
}


