.navbar {
  width: 100%;
  height: 80px;
  background-color: #cd8495;
  display: flex;
  z-index: 10;
  border-radius: 0 0 40px 40px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.322);
}

.l1:hover, .l2:hover, .l3:hover {
  color: #B8AAA7;
}

.logo {
  display: flex;
  align-items: center;
  color: #ECE3E6;
  margin: 1.5rem;
  content: "";
  background: url("../../assets/logo.png") no-repeat center center/cover; 
  height: 4rem;
  width: 4rem;
}

.textlogo {
  margin-left: 120%;
  font-size: 3rem;
}

.hamburger {
  display: none;
  padding: 1rem;
}

.nav-menu {
  height: 100%;
  align-items: center;
  display: flex;
  padding: 1rem;
}

.navbar li {
  padding: 1rem;
  font-weight: 600;
  color: #ECE3E6;
}

.navbar .icon {
  font-size: 1.4rem;
  color: #ECE3E6;
}

@media screen and (max-width: 940px) {
  .navbar .hamburger {
    display: block;
    z-index: 1;
  }
  
  .navbar {
    position: fixed;
  }

  .navbar .nav-menu {
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: -100vh; 
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.685);
    backdrop-filter: blur(7px);
    transition: top 0.3s ease-out; 
  }

  .navbar .nav-menu.active {
    top: 0; 
  }

  .navbar li {
    font-size: 1rem;
  }
}
