@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ECE3E6;
}
::-webkit-scrollbar-track {
  background-color: rgb(29, 29, 29);
}
::-webkit-scrollbar {
  width: 8px;
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 7px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ECE3E6;
}

.container {
  margin: auto;
  height: 100%;
  position: relative;
}
