@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --background-color: #ECE3E6;
  --text-color: #333;
  color-scheme: light;
}



@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--background-color);
      color: var(--text-color);
  }
}

button, a, input, textarea {
  -webkit-tap-highlight-color: transparent;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: "Roboto", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}


::-webkit-scrollbar-track {
  background-color: #333;
}
::-webkit-scrollbar {
  width: 10px;
  background: #333;
  
}
::-webkit-scrollbar-thumb {
  background: #757474;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ECE3E6;
}

